<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/inputnumber.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>购物车</title>
  </head>
  <body>
    <div class="app-container" id="app">
      <!-- 顶部banner -->
      <div class="banner-box">
        <img src="../13-综合案例-购物车/img/ffruit.jpg" alt="" />
      </div>
      <!-- 面包屑 -->
      <div class="breadcrumb">
        <span>🏠</span>
        /
        <span>购物车</span>
      </div>
      <!-- 购物车主体 -->
      <div class="main" v-if="fruitList.length > 0">
        <div class="table">
          <!-- 头部 -->
          <div class="thead">
            <div class="tr">
              <div class="th">选中</div>
              <div class="th th-pic">图片</div>
              <div class="th">单价</div>
              <div class="th num-th">个数</div>
              <div class="th">小计</div>
              <div class="th">操作</div>
            </div>
          </div>
          <!-- 身体 -->
          <div class="tbody">
            <div
              v-for="(item, index) in fruitList"
              :key="item.id"
              class="tr"
              :class="{ active: item.isChecked }"
            >
              <div class="td">
                <input type="checkbox" v-model="item.isChecked" />
              </div>
              <div class="td"><img :src="item.icon" alt="" /></div>
              <div class="td">{{ item.price }}</div>
              <div class="td">
                <div class="my-input-number">
                  <button
                    :disabled="item.num <= 1"
                    class="decrease"
                    @click="sub(item.id)"
                  >
                    -
                  </button>
                  <span class="my-input__inner">{{ item.num }}</span>
                  <button class="increase" @click="add(item.id)">+</button>
                </div>
              </div>
              <div class="td">{{ item.num * item.price }}</div>
              <div class="td"><button @click="del(item.id)">删除</button></div>
            </div>
          </div>
        </div>
        <!-- 底部 -->
        <div class="bottom">
          <!-- 全选 -->
          <label class="check-all">
            <input type="checkbox" v-model="isAll" />
            全选
          </label>
          <div class="right-box">
            <!-- 所有商品总价 -->
            <span class="price-box"
              >总价&nbsp;&nbsp;:&nbsp;&nbsp;¥&nbsp;<span class="price"
                >{{toPrice}}</span
              ></span
            >
            <!-- 结算按钮 -->
            <button class="pay">结算({{toCount}})</button>
          </div>
        </div>
      </div>
      <!-- 空车 -->
      <div class="empty" v-else>🛒空空如也</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      const defaultArr = [
        {
          id: 1,
          icon: "../13-综合案例-购物车/img/火龙果.png",
          isChecked: true,
          num: 2,
          price: 6,
        },
        {
          id: 2,
          icon: "../13-综合案例-购物车/img/荔枝.png",
          isChecked: false,
          num: 7,
          price: 20,
        },
        {
          id: 3,
          icon: "../13-综合案例-购物车/img/榴莲.png",
          isChecked: false,
          num: 3,
          price: 40,
        },
        {
          id: 4,
          icon: "../13-综合案例-购物车/img/鸭梨.png",
          isChecked: true,
          num: 10,
          price: 3,
        },
        {
          id: 5,
          icon: "../13-综合案例-购物车/img/樱桃.png",
          isChecked: false,
          num: 20,
          price: 34,
        },
      ];
      const app = new Vue({
        el: "#app",
        data: {
          // 水果列表
          fruitList: JSON.parse(localStorage.getItem("list")) || defaultArr,
        },
        computed: {
          isAll: {
            //必须所有小选框都选中 全选才被选中 -> every
            get() {
              return this.fruitList.every((item) => item.isChecked);
            },
            set(value) {
              //
              this.fruitList.forEach((item) => (item.isChecked = value));
            },
          },
          // 统计的总数
          toCount() {
            return this.fruitList.reduce((A, item) => {
              if (item.isChecked) {
                return A + item.num;
              } else {
                return A;
              }
            }, 0);
          },
          // 统计的总价  选中的num * price
          toPrice() {
            return this.fruitList.reduce((A, item) => {
              if (item.isChecked) {
                return A + item.num * item.price;
              } else {
                return A;
              }
            }, 0);
          },
        },
        methods: {
          del(id) {
            this.fruitList = this.fruitList.filter((item) => item.id !== id);
          },
          add(id) {
            const fruit = this.fruitList.find((item) => item.id === id).num++;
          },
          sub(id) {
            const fruit = this.fruitList.find((item) => item.id === id).num--;
          },
        },

        watch: {
          fruitList: {
            deep: true,
            handler(newValue) {
              // 需要将变化后的newValue存入本地（转JOSON）
              localStorage.setItem("list", JSON.stringify(newValue));
            },
          },
        },
      });
    </script>
  </body>
</html>
