html {
  font-size: 100px;
}
#root {
  font-size: 1rem; /* 100px */
}
.os {
  margin: 0 auto;
  width: 7.5rem;
  height: 42.81rem;
  background-color: #f5f8fa;
}
body {
  background-color: rgb(189, 240, 174);
  margin: 0px;
}
.overall_situation {
  /* width: 7.5rem;
  height: 50rem;
  background-color: rgb(255, 255, 255); */
  position: relative;
  /* text-align: center; */
  /* margin: auto; */
  /* margin-top:0px; */
}
.shou1 {
  width: 7.5rem;
  height: 5rem;
}
.color_jb {
  width: 7.5rem;
  height: 2.65rem;
  background: linear-gradient(#b81c22, #f5f8fa);
  /* position: relative; */
}
/* 信息 */
.information {
  margin-top: 0px;
  height: 5.64rem;
  width: 7rem;
  background-color: white;
  margin: 0 auto;
  top: -2.65rem;
  position: relative;
  /* padding-bottom: 0.8rem; */
}
/* 展览信息 */
.txt_max {
  font-size: 0.34rem;
  line-height: 0.44rem;

  /* width: 1.36rem;
  height: 0.44rem; */
  color: #b81c22;
  flex: none;
  /* order: 1; */
  /* flex-grow: 0; */

  font-family: "Songti SC";
  font-style: normal;
  /* font-weight: 900; */
  /* identical to box height, or 129% */
  text-align: center;
  margin: auto;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  /* position: relative; */
}

.tb1 {
  width: 6.45rem;
  height: 3.6rem;
  border: 0;
  /* background-color: rgb(243, 197, 197); */
  margin: auto;
}
.txt-1 {
  /* 展览地址： */

  width: 1.2rem;
  height: 0.36rem;

  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 500;
  font-size: 0.24rem;
  line-height: 0.36rem;
  /* identical to box height, or 150% */

  color: #000000;

  /* text-align:center; */
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative;
  font-weight: bold;
}

.txt1-2 {
  /* 上海市浦东新区上南路205号 中华艺术宫（上海美术馆） */

  width: 4.7rem;
  height: 0.72rem;

  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 400;
  font-size: 0.24rem;
  line-height: 0.36rem;
  /* or 150% */

  color: #4f4f4f;
  /* text-align:center; */

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}

/* 介绍 */
.introduce {
  /* margin-top: 0px; */
  height: 7.65rem;
  width: 7rem;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: -1.85rem;
}
.txt-introduce {
  /* 今年是中法建交60周年，也是中法文化旅游年，因此上海市文化和旅游局指导中华艺术宫（上海美术馆）联手清华大学艺术博物馆、中国上海画院、上海市美术家协会，策划了林风眠、吴冠中艺术大展，以“中国式风景”为主题，遴选了两位艺术家大约200幅佳作，涵盖他们在不同时期创作的中国画、油画、水彩、素描各门类艺术精品，展现他们师生二人融通中西古今的开放视野，传统精髓与时代经验兼备的中国气派。我们真诚欢迎更多市民游客走进上海美术馆，沉浸式体验“中国式风景”，从中华文化和中华美学中得到心灵的滋养、汲取奋进的力量。 */

  width: 6.2rem;
  height: 5.52rem;

  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 400;
  font-size: 0.28rem;
  line-height: 0.46rem;
  /* or 164% */
  text-align: justify;

  color: #4f4f4f;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: auto;
}
/* 重要作品介绍 */
.blanktxt {
  position: relative;
  top: -1.65rem;
}
.P-txt {
  /* Frame 10 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  /* gap: 0.4rem; */

  width: 7rem;
  height: 20.16rem;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative;
  top: -1.6rem;
  margin: auto;
  /* background-color: blue; */
}

.P-left {
  /* Frame 3 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.1rem 0.1rem 0rem;

  width: 3.2rem;
  height: 4.74rem;

  background: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  margin: auto;
  position: relative;
}
/* Frame 8 */

/* Auto layout */
.P-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.1rem 0.1rem 0rem;

  width: 3.2rem;
  height: 4.74rem;

  background: #ffffff;

  left: 0.2rem;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: auto;
  position: relative;
}

/* 图片 */
.img1 {
  /* Rectangle 16 */

  width: 3.2rem;
  height: 3.2rem;

  /* background: url(1静物.jpg); */

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.left-txt1 {
  /* 画作名称 */

  width: 2.8rem;
  height: 0.42rem;

  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 500;
  font-size: 0.3rem;
  line-height: 0.42rem;
  /* identical to box height */

  color: #000000;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  position: relative;
  top: 0.25rem;
  left: 0.15rem;
}
.left-txt2 {
  width: 0.78rem;
  height: 0.36rem;

  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 400;
  font-size: 0.26rem;
  line-height: 0.36rem;

  color: #4f4f4f;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative;
  top: 0.45rem;
  left: 0.15rem;
}

.img2 {
  /* Rectangle 16 */

  width: 3.2rem;
  height: 3.2rem;

  /* background: url(/艺术宫/img/1舞.jpg); */

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* 第二 */

.P-left2 {
  /* Frame 3 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.1rem 0.1rem 0rem;

  width: 3.2rem;
  height: 4.74rem;

  background: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  margin: auto;
  position: relative;
  top: 0.4rem;
}
/* Frame 8 */

/* Auto layout */
.P-right2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.1rem 0.1rem 0rem;

  width: 3.2rem;
  height: 4.74rem;

  background: #ffffff;

  left: 0.2rem;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: auto;
  position: relative;
  top: 0.4rem;
}

/* 三 */

.P-left3 {
  /* Frame 3 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.1rem 0.1rem 0rem;

  width: 3.2rem;
  height: 4.74rem;

  background: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  margin: auto;
  position: relative;
  top: 0.8rem;
}
/* Frame 8 */

/* Auto layout */
.P-right3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.1rem 0.1rem 0rem;

  width: 3.2rem;
  height: 4.74rem;

  background: #ffffff;

  left: 0.2rem;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: auto;
  position: relative;
  top: 0.8rem;
}
/* 四 */

.P-left4 {
  /* Frame 3 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.1rem 0.1rem 0rem;

  width: 3.2rem;
  height: 4.74rem;

  background: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  margin: auto;
  position: relative;
  top: 1.2rem;
}
/* Frame 8 */

/* Auto layout */
.P-right4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.1rem 0.1rem 0rem;

  width: 3.2rem;
  height: 4.74rem;

  background: #ffffff;

  left: 0.2rem;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: auto;
  position: relative;
  top: 1.2rem;
}

.bottom {
  /* Vector */

  position: relative;
  width: 7.5rem;
  height: 1.37rem;
  left: 0px;
  /* top: 25.6rem; */

  background: #ebeef0;
}
.bt1 {
  /* 中国式风景 */

  position: relative;
  width: 2.09rem;
  height: 0.44rem;
  /* left: 2.71rem; */
  /* top: 4550px; */

  font-family: "Songti SC";
  font-style: normal;
  font-weight: 900;
  font-size: 0.36rem;
  line-height: 0.44rem;
  /* identical to box height, or 122% */
  /* text-align: center; */
  letter-spacing: 0.032rem;

  color: #b81c22;
  margin: auto;
  top: 0.35rem;
}
.bt2 {
  /* 林风眠吴冠中艺术大展 */

  position: relative;
  width: 2.03rem;
  height: 0.32rem;
  /* left: 274px; */
  /* top: 4600px; */

  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 400;
  font-size: 0.18rem;
  line-height: 0.32rem;
  /* identical to box height, or 178% */
  text-align: center;
  letter-spacing: 0.0224rem;

  color: #9a9a9a;
  margin: auto;
  top: 0.45rem;
}

/* 弹窗部分 */
.btn-alert {
  display: block;
  /* width: 400px; */
  /* height: 100px; */
  /* line-height: 100px; */
  /* background-color: #fff; */
  /* border-radius: 10px; */
  /* color: #000; */
  /* font-size: 40px; */
  /* margin: 20px auto 0; */
  border: none;
  cursor: pointer;
  /* letter-spacing: 5px; */
  /* box-shadow: 0 0 5px #fff; */
}
/* 遮罩层 */
.alert {
  /* display: none; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  /* margin: auto; */
  top: 0rem;
  left: 0rem;
}
.alert-body {
  width: 7.5rem;
  height: 100vh;
  background-color: #fff;
  /* border-radius: 10px; */
  font-size: 0.3rem;
  /* color: #000; */
  /* text-align: center; */
  position: relative;
  margin: 0 auto;
  /* animation: moveFromBottom .3s linear;      */
}
.alert-title {
  width: 7.5rem;
  height: 8rem;
  /* line-height: 1rem; */
  /* border-bottom: 2px solid #eee; */
  font-size: 0.4rem;
  position: relative;
}
.close {
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  cursor: pointer;
}
.close:hover {
  color: red;
}
.alert-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  color: #999;
}

.tan1 {
  /* Rectangle 16 */

  position: absolute;
  width: 4.49rem;
  height: 7.98rem;
  left: 0.855rem;
  top: 0.1rem;

  /* background: url(2敦煌仕女.jpg); */
}
/* 文字 */
.tantxt {
  /* 敦煌仕女 */

  /* width: 1.44rem; */
  /* height: 0.5rem; */

  /* font-family: 'PingFang SC'; */
  /* font-style: normal; */
  /* font-weight: 500; */
  /* font-size: 0.36rem; */
  /* line-height: 0.5rem; */

  color: #000000;
  /* position: relative; */
  /* margin: auto; */
  /* display: flex; */
  /* top:1rem; */
  /* Inside auto layout */
  /* flex: none; */
  /* order: 0; */
  /* flex-grow: 0; */
}
